
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0; 
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}


.country {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff; 
}


h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333; 
}

p {
    margin: 5px 0;
    color: #666; 
}


ul {
    list-style-type: none;
    padding-left: 20px;
}


li {
    margin-bottom: 5px;
    color: #666; 
}

body {
    font-family: Arial, sans-serif;
    background-color: #e6f7ff; 
    color: #333; 
}


.country:nth-child(even) {
    background-color: #f9f9f9; 
}
